<html>
<head>
  <meta charset="UTF-8">
  <title>ホソミチチャット</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="javascripts/enchant.min.js"></script>
</head>
<body>
  <input type="text" id="msg_input" style="width:200px;" />
  <button onclick="publishMessage();">語る</button>
  <div id="msg"></div>
  <script type="text/javascript" src="javascripts/game.js"></script>
</body>
</html>
